In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Gaspar\Desktop\Coctails_db\all_drinks.csv', delimiter = ",")

In [3]:
df.head()

,Unnamed: 0,strDrink,dateModified,idDrink,strAlcoholic,strCategory,strDrinkThumb,strGlass,strIBA,strIngredient1,...,strMeasure15,strMeasure2,strMeasure3,strMeasure4,strMeasure5,strMeasure6,strMeasure7,strMeasure8,strMeasure9,strVideo
0,0,'57 Chevy with a White License Plate,2016-07-18 22:49:04,14029,Alcoholic,Cocktail,http://www.thecocktaildb.com/images/media/drin...,Highball glass,NaN,Creme de Cacao,...,NaN,1 oz,,,,,,NaN,NaN,NaN
1,1,1-900-FUK-MEUP,2016-07-18 22:27:04,15395,Alcoholic,Shot,http://www.thecocktaildb.com/images/media/drin...,Old-fashioned glass,NaN,Absolut Kurant,...,NaN,1/4 oz,1/4 oz,1/4 oz,1/4 oz,1/4 oz,1/2 oz,1/4 oz,,NaN
2,2,110 in the shade,2016-02-03 14:51:57,15423,Alcoholic,Beer,http://www.thecocktaildb.com/images/media/drin...,Beer Glass,NaN,Lager,...,NaN,1.5 oz,,,,,,NaN,NaN,NaN
3,3,151 Florida Bushwacker,2016-07-18 22:28:43,14588,Alcoholic,Milk / Float / Shake,http://www.thecocktaildb.com/images/media/drin...,Beer mug,NaN,Malibu rum,...,NaN,1/2 oz,1/2 oz Bacardi,1 oz,1 oz,3 oz,1 oz,1 cup,,NaN
4,4,155 Belmont,2016-10-05 12:36:28,15346,Alcoholic,Cocktail,http://www.thecocktaildb.com/images/media/drin...,White wine glass,NaN,Dark rum,...,NaN,2 shots,1 shot,1 shot,,,,,,NaN

In [4]:
df.shape

(546, 41)

In [5]:
df.columns

Index(['Unnamed: 0', 'strDrink', 'dateModified', 'idDrink', 'strAlcoholic',
       'strCategory', 'strDrinkThumb', 'strGlass', 'strIBA', 'strIngredient1',
       'strIngredient10', 'strIngredient11', 'strIngredient12',
       'strIngredient13', 'strIngredient14', 'strIngredient15',
       'strIngredient2', 'strIngredient3', 'strIngredient4', 'strIngredient5',
       'strIngredient6', 'strIngredient7', 'strIngredient8', 'strIngredient9',
       'strInstructions', 'strMeasure1', 'strMeasure10', 'strMeasure11',
       'strMeasure12', 'strMeasure13', 'strMeasure14', 'strMeasure15',
       'strMeasure2', 'strMeasure3', 'strMeasure4', 'strMeasure5',
       'strMeasure6', 'strMeasure7', 'strMeasure8', 'strMeasure9', 'strVideo'],
      dtype='object')

In [6]:
df.isnull().sum()

Unnamed: 0           0
strDrink             0
dateModified         1
idDrink              0
strAlcoholic         1
strCategory          0
strDrinkThumb        0
strGlass             0
strIBA             475
strIngredient1       0
strIngredient10    543
strIngredient11    543
strIngredient12    545
strIngredient13    546
strIngredient14    546
strIngredient15    546
strIngredient2       0
strIngredient3      85
strIngredient4     252
strIngredient5     380
strIngredient6     468
strIngredient7     521
strIngredient8     531
strIngredient9     540
strInstructions      1
strMeasure1          0
strMeasure10       402
strMeasure11       480
strMeasure12       526
strMeasure13       534
strMeasure14       542
strMeasure15       543
strMeasure2          3
strMeasure3          7
strMeasure4         19
strMeasure5         26
strMeasure6         23
strMeasure7         24
strMeasure8        132
strMeasure9        289
strVideo           546
dtype: int64

In [7]:
df = df.drop(["strVideo","Unnamed: 0","dateModified","idDrink","strIBA","strAlcoholic"], axis=1)